<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="serv" value="192.168.0.6"/>
    <add key="port" value="3306"/>
    <add key="user" value="sistemas"/>
    <add key="pass" value="190969sorol"/>
    <add key="data" value="solorsof_datos_dni_ruc"/>
    <add key="ConnectionLifeTime" value="300"/>
    <add key="srvclt" value="solorsoft.com"/>
    <add key="usrclt" value="solorsof_root"/>
    <add key="pswclt" value="190969Sorol"/>
    <add key="datclt" value="solorsof_datos_dni_ruc"/>
  </appSettings>
</configuration>